

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Redressed&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    background-color: rgba(20, 7, 51, 0.75);
}

.navbar .navbar-brand {
    font-family: 'Lato', sans-serif;
    font-family: 'Redressed', cursive;
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 40px;
}

.navbar .navbar-nav .nav-item {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 5px;
    margin-top: 10px;
}

.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link:hover,
.navbar-nav:hover>.nav-link {
    text-decoration: underline;
    color: #fff;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 100px;
    font-family: 'Redressed', cursive;
    font-weight: 600;
    transition: 0.4 all ease;
    color: #fff;
    margin-top: 30px;
}

.content h1:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid white;
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 5px;
}

.content a:hover {
    background-color: #fff;
    color: rgb(15, 15, 85);
}

@media(min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}


/*footer*/

.footer-area {
    text-align: center;
    background: rgb(32, 31, 31);
    color: #ddd;
    padding: 20px;
    margin-top: 40px;
}

#main-footer {
    text-align: center;
    background: rgb(32, 31, 31);
    color: #ddd;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.footer-span {
    font-family: 'Lato', sans-serif;
    font-family: 'Redressed', cursive;
}

.header-area img {
    height: 20px;
    width: 200px;
}


/* contact css */

.single-contact i {
    background-color: #f08080;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border: 5px solid #D4357F
}

input[type=text] {
    border: 2px solid #D6287C;
}

input[type=email] {
    border: 2px solid #D6287C;
}

input[type=subject] {
    border: 2px solid #D6287C;
}

.single-contact h4 {
    text-transform: uppercase;
    font-weight: 700;
}

.single-contact h4 span {
    display: block;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
    margin-top: 8px;
}

.single-contact:last-child {
    border-bottom: 0;
}

.contact-form input[type="text"] {
    border: 2px solid red;
    border-radius: 4px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 5px solid #D6287C;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 18px;
}

.contact-form input[type="submit"] {
    background-color: #b42289;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    padding: 12px;
}

.border-area {
    border: 2px solid #D6287C;
}

.single-contact h4 {
    text-transform: uppercase;
    font-weight: 700;
}

.single-contact h4 span {
    display: block;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
    margin-top: 8px;
}

.single-contact:last-child {
    border-bottom: 0;
}

.contact-form input[type="text"] {
    border: 2px solid red;
    border-radius: 4px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 18px;
    border: 5px solid #D6287c;
}

.contact-form input[type="submit"] {
    background-color: #f08080;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    padding: 12px;
}

.contact-form input[type="reset"] {
    background-color: #f08080;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    padding: 12px;
}

.contact {
    background: url('../img/background4.jpg') no-repeat center center/cover;
    font-family: 'Lato', sans-serif;
}

.border-radius {
    border-radius: 10px;
    border: 5px solid #7B2D8D;
}

.map-container {
    overflow: hidden;
    position: relative;
    height: 0;
    border: 2px solid #D6287C;
    padding-bottom: 56.25%;
}

.map-container iframe {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.holdingInfo {
    padding: 30px 30px 30px 30px;
}

.pattern-bg {
    background-image: url(../img/home/pattern-1.jpg);
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

ul {
    margin: 0;
    padding: 0;
}

.add h5 {
    color: darkslategray;
    margin-top: 10px;
}

.box-btn {
    background-color: #D4357F;
    display: inline-block;
    padding: 6px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.contact-us .container .name .text-contact {
    text-decoration: none;
    margin-top: 40px;
}

.contact-us .container .name .text-contact ::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #333;
    border-radius: 25px;
    display: block;
    margin: auto;
}


/*scrollbar*/

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(216, 13, 13, 0.25);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #44535e;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #748a99;
}


/* why us*/

.us .us-title-h {
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 34px;
    margin-top: 15px;
    padding: 5px;
}

.us h4 .span {
    color: #D6287C;
}

.us .us-title-h::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #333;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.pp-ar {
    padding: 2px;
    text-align: center;
    margin-top: 2px;
    font-family: serif;
}

.us-para .img {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.us-para h4 {
    text-align: center;
    padding: 4px;
    font-size: 20px;
}

.us-para p {
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-family: serif;
}

.item {
    box-sizing: border-box;
    /*box-shadow: rgb(51 51 51) 0px 0px 15px;*/
    padding: 20px;
    margin-bottom: 20px;
}

.skills .skill-title-h {
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 34px;
    margin-top: 15px;
    padding: 5px;
}

.skills .skill-title-h::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #333;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.skills h4 .span {
    color: #D6287C;
}

.item {
    box-shadow: 9px 4px 4px rgb(134, 132, 132);
}

.item p {
    padding: 2px;
    text-align: center;
    margin-top: 2px;
    font-family: serif;
}

.item .img {
    width: 80px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.item h4 {
    text-align: center;
    padding: 4px;
    font-size: 20px;
}

.item p {
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-family: serif;
}

.teams .text {
    color: #D6287C;
}

.info .text {
    color: #D6287C;
}

.teams .text1::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #333;
    border-radius: 25px;
    display: block;
    margin: auto;
}


/*service section */

.services .title .text-serv::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #333;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.services .card {
    border: none;
    outline: none;
    margin-top: 20px;
    -webkit-box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
    box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
}

.services .card p {
    color: gray;
}

.circle {
    height: 60px;
    width: 60px;
    background-color: #fff;
    color: #d63475;
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 50%;
    font-size: 30px;
}

.card:hover .circle {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.card:hover {
    top: -5%;
    color: #D6287C;
    transition: 0.4s;
}


/*about section */

.section {
    width: 100%;
}

.section .container {
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}

.section .container .title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.section .container .title .text-about::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #333;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.content {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 5px;
}

.content .article h3 {
    color: rgb(82, 76, 76);
    font-size: 17px;
}

.content .article p {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.content .article .button {
    margin-top: 40px;
}

.content .article .button a {
    text-decoration: none;
    padding: 8px 25px;
    color: #fff;
    border-radius: 40px;
    background-color: #D4357F;
    font-size: 18px;
    letter-spacing: 1.5px;
    float: left;
    margin-left: 25px;
}

.content .article .button a:hover {
    background-color: #333;
    color: #fff;
    transition: 1s ease;
}


/*skills*/

.progress-skills {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
}

.progress-skills .progress-title-h {
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 34px;
    padding: 5px;
}

.progress-skills .progress-title-h::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #333;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.progress-skills .progress-title-h .span {
    color: #D6287C;
}

.progress-skills .p-progress {
    padding: 2px;
    text-align: center;
    margin-top: 2px;
    font-family: serif;
}

.progress-skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.progress-skills .skills-content .column {
    width: 100%;
    min-height: 100%;
}

.progress-skills .skills-content .column .bars {
    margin-bottom: 15px;
}

.progress-skills .skills-content .column .bars .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-skills .skills-content .column .bars .info span {
    font-weight: 500;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.progress-skills .skills-content .column .bars .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.progress-skills .skills-content .column .bars .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #D6287C;
}

.progress-skills .skills-content .column .bars .html::before {
    width: 90%;
}

.progress-skills .skills-content .column .bars .css::before {
    width: 70%;
}

.progress-skills .skills-content .column .bars .js::before {
    width: 50%;
}

.progress-skills .skills-content .column .bars .php::before {
    width: 60%;
}

.progress-skills .skills-content .column .bars .mysql::before {
    width: 80%;
}

@media screen and (max-width: 992px) {
    .navbar-toggler {
        color: rgb(255, 254, 254);
        margin-right: 20px;
        cursor: pointer;
    }
    #navbarSupportedContent {
        text-align: center;
        padding: 2px;
        background-color: #d63475;
    }
    .content h1 {
        font-size: 80px;
    }
    .information .section .container {
        width: 80%;
        display: block;
        margin: auto;
    }
    .information .section .container .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .information .section .container .image-section {
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .information .section .container .image-section img {
        width: 100%;
        height: auto;
        border-radius: unset;
        display: block;
        margin: auto;
    }
    .information .section .container .content .button a {
        margin-bottom: 5px;
        float: none;
    }
    .information .container .title {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:882px) {
    .navbar-toggler {
        color: rgb(255, 254, 254);
        margin-right: 20px;
        cursor: pointer;
    }
    #navbarSupportedContent {
        text-align: center;
        padding: 2px;
        background-color: #D6287C;
    }
    .content h1 {
        font-size: 80px;
    }
    .information .section .container {
        width: 80%;
        display: block;
        margin: auto;
    }
    .information .section .container .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .information .section .container .image-section {
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .information .section .container .image-section img {
        width: 100%;
        height: auto;
        border-radius: unset;
        display: block;
        margin: auto;
    }
    .information .section .container .content .button a {
        margin-bottom: 5px;
        float: none;
    }
    .information .container .title {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:772px) {
    .navbar-toggler {
        color: rgb(255, 254, 254);
        margin-right: 20px;
        cursor: pointer;
    }
    #navbarSupportedContent {
        text-align: center;
        padding: 2px;
        background-color: #D6287C;
    }
    .content h1 {
        font-size: 80px;
    }
    .information .section .container {
        width: 80%;
        display: block;
        margin: auto;
    }
    .information .section .container .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .information .section .container .image-section {
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .information .section .container .image-section img {
        width: 100%;
        height: auto;
        border-radius: unset;
        display: block;
        margin: auto;
    }
    .information .section .container .content .button a {
        margin-bottom: 5px;
        float: none;
    }
    .information .container .title {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:662px) {
    .navbar-toggler {
        color: rgb(255, 254, 254);
        margin-right: 20px;
        cursor: pointer;
    }
    #navbarSupportedContent {
        text-align: center;
        padding: 2px;
        background-color: #D6287C;
    }
    .content h1 {
        font-size: 80px;
    }
    .information .section .container {
        width: 80%;
        display: block;
        margin: auto;
    }
    .information .section .container .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .information .section .container .image-section {
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .information .section .container .image-section img {
        width: 100%;
        height: auto;
        border-radius: unset;
        display: block;
        margin: auto;
    }
    .information .section .container .content .button a {
        margin-bottom: 5px;
        float: none;
    }
    .information .container .title {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:552px) {
    .navbar-toggler {
        color: rgb(255, 254, 254);
        margin-right: 20px;
        cursor: pointer;
    }
    #navbarSupportedContent {
        text-align: center;
        padding: 2px;
        background-color: #D6287C;
    }
    .content h1 {
        font-size: 80px;
    }
    .team_img img {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .information .section .container {
        width: 80%;
        display: block;
        margin: auto;
    }
    .information .section .container .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .information .section .container .image-section {
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .information .section .container .image-section img {
        width: 100%;
        height: auto;
        border-radius: unset;
        display: block;
        margin: auto;
    }
    .information .section .container .content .button a {
        margin-bottom: 5px;
        float: none;
    }
    .information .container .title {
        margin-bottom: 0px;
    }
}